
body {
  background-color: #3f72af;
  font-family: cursive,'KaiTi';
  color:white;
}

hr {
  border-style:none;
  border-top-style:dotted;
  border-color:white;
  border-width:3px;
  width:10%;
}

a:link{
  color:white;
}
